<h1 class="text-center">
  {{
    i18nService.i18nComponentsEnum.RESET_PASSWORD_COMPONENT_TITLE | translate
  }}
</h1>
<h2 class="text-center">
  {{
    i18nService.i18nComponentsEnum.RESET_PASSWORD_COMPONENT_SUBTITLE | translate
  }}
</h2>

<form
  [formGroup]="passwordResetForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  class="password-reset-form"
>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{
      i18nService.i18nFormsEnum.CURRENT_PASSWORD_LABEL | translate
    }}</mat-label>
    <input matInput formControlName="oldPassword" type="password" required />
    <mat-error *ngIf="submitted() && oldPassword.hasError('required')">
      {{ i18nService.i18nFormsEnum.CURRENT_PASSWORD_LABEL | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{
      i18nService.i18nFormsEnum.NEW_PASSWORD_LABEL | translate
    }}</mat-label>
    <input matInput formControlName="newPassword" type="password" required />
    <mat-error *ngIf="submitted() && newPassword.hasError('required')">
      {{ i18nService.i18nFormsEnum.FORM_VALIDATION_REQUIRED | translate }}
    </mat-error>
@let newPasswordControl = form().get('newPassword');
@if(submitted() && newPassword.hasError('minlength')){
        {{ "NEW_PASSWORD_MIN_LENGTH" | translate : { min: 6 } }}
}
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{
      i18nService.i18nFormsEnum.CONFIRM_PASSWORD_LABEL | translate
    }}</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      type="password"
      required
    />
    <mat-error *ngIf="submitted() && confirmPassword.hasError('required')">
      {{ i18nService.i18nFormsEnum.CONFIRM_PASSWORD_LABEL | translate }}
    </mat-error>
    <mat-error *ngIf="submitted() && !passwordsMatch">
      {{ i18nService.i18nFormsEnum.FORM_VALIDATION_MUST_MATCH | translate }}
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="w-100"
    [disabled]="loading() || passwordResetForm.invalid"
  >
    {{ i18nService.i18nButtonsEnum.BUTTON_SEND | translate }}
  </button>
</form>
