<app-general-container-component>
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1>Crear Modelo 3D</h1>
    <button
      matButton="elevated"
      class="mb-3"
      (click)="navigateToListModel3D()"
    >
      <mat-icon>arrow_back</mat-icon>
      Ver modelos 3D
    </button>
  </div>
</app-general-container-component>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Animal</mat-label>
        <mat-select formControlName="animalId" required>
          <mat-option *ngFor="let animal of animals" [value]="animal.id">
            {{ animal.name }}
          </mat-option>
        </mat-select>
        @let animalIdControl = form.get('animalId'); @if
        (formsService.isFieldInvalid(animalIdControl)) {
        <mat-error
          >{{ formsService.getErrorMessage(animalIdControl) }}</mat-error
        >
        }
      </mat-form-field>
    </div>
    <div class="col-lg-6 mb-3 d-flex flex-column justify-content-end">
      <label for="image-upload" class="form-label mb-2 fw-bold">
        Imagen
        <span class="text-danger">*</span>
      </label>
      <input
        id="image-upload"
        type="file"
        (change)="onImageChange($event)"
        accept="image/*"
        required
        class="form-control"
        style="padding: 0.5rem 0.75rem"
      />
      <small class="text-muted mt-1">Formatos permitidos: JPG, PNG, GIF.</small>
      @if (imageError) {
      <mat-error class="mt-1">{{ imageError }}</mat-error>
      }
    </div>
  </div>
  <div class="text-end">
    <button matButton="tonal" type="submit" [disabled]="isSubmitting">
      Enviar
    </button>
  </div>
</form>
