<div class="glb-viewer-container" [style.width]="width()" [style.height]="height()">

 @if (errorMessage) {
    <div class="error-overlay d-flex align-items-center justify-content-center">
      <div class="alert alert-danger" role="alert">
        <mat-icon>error</mat-icon>
        {{ errorMessage }}
        @if (animalId()) {
          <br><small>Animal ID: {{ animalId() }}</small>
        }
      </div>
    </div>
  }

  @if(showNoModelAvailable()){
    <div class="no-model-overlay d-flex align-items-center justify-content-center">
      <div class="alert alert-info" role="alert">
        <mat-icon>info</mat-icon>
        {{ i18nService.i18nModel3DEnum.NO_MODEL_AVAILABLE | translate }} (ID: {{ animalId() }})
      </div>
    </div>
  }

  <canvas #canvas class="three-canvas"></canvas>
</div>