<app-general-container-component>
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      Crear anuncios
    </h1>
    <button matButton="elevated" (click)="navigateToAnnouncementsList()">
      <mat-icon>arrow_back</mat-icon>
      Gestionar anuncios
    </button>
  </div>
</app-general-container-component>

<app-announcement-form-component
  [form]="announcementFormService.form()"
  [formsService]="formsService"
  (onSubmitChange)="onSubmit()"
  (onViewImageChange)="onViewImage()"
  [editor]="editor!"
  [mode]="'create'"
  [announcementStatesList]="announcementStateHttpService.announcementStatesList()"
/>
