<app-general-container-component>
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1>{{ i18nService.i18nPagesEnum.EDIT_MUNICIPALITY_PAGE_TITLE | translate }}</h1>
    <button matButton="elevated">
      <mat-icon>
        arrow_back
      </mat-icon>
      {{ i18nService.i18nButtonsEnum.BUTTON_MUNICIPALITY_MANAGEMENT | translate }}
    </button>
  </div>
</app-general-container-component>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-4 mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input
          matInput formControlName="email" [errorStateMatcher]="formsService.matcher"
        />
        @let emailControl = form.get('email');
        @if (formsService.isFieldInvalid(emailControl)) {
          <mat-error>{{ formsService.getErrorMessage(emailControl) }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-lg-4 mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" [errorStateMatcher]="formsService.matcher"/>
        @let addressControl = form.get('address');
        @if (formsService.isFieldInvalid(addressControl)) {
          <mat-error>{{ formsService.getErrorMessage(addressControl) }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-lg-4 mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" [errorStateMatcher]="formsService.matcher"/>
        @let phoneControl = form.get('phone');
        @if (formsService.isFieldInvalid(phoneControl)) {
          <mat-error>{{ formsService.getErrorMessage(phoneControl) }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-lg-4 mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>
          {{ i18nService.i18nFormsEnum.CANTON_LABEL | translate }}
        </mat-label>
        <mat-select formControlName="cantonId" [compareWith]="formsService.genericCompare">
          @for ( canton of cantonHttpService.cantonList(); track canton.id) {
            <mat-option [value]="canton.id">{{ canton.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4 mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Responsible Name</mat-label>
        <input matInput formControlName="responsibleName" [errorStateMatcher]="formsService.matcher" />
        @let responsibleNameControl = form.get('responsibleName');
        @if (formsService.isFieldInvalid(responsibleNameControl)) {
          <mat-error>{{ formsService.getErrorMessage(responsibleNameControl) }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-lg-4 mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Responsible Role</mat-label>
        <input matInput formControlName="responsiblePosition" [errorStateMatcher]="formsService.matcher" />
        @let responsiblePositionControl = form.get('responsiblePosition');
        @if (formsService.isFieldInvalid(responsiblePositionControl)) {
          <mat-error>{{ formsService.getErrorMessage(responsiblePositionControl) }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-lg-4 mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" [errorStateMatcher]="formsService.matcher" [compareWith]="formsService.genericCompare">
          <mat-option>--</mat-option>
          @for (status of municipalityStatusHttpService.municipalityStatusList(); track status.id) {
            <mat-option [value]="status">{{ status.name }}</mat-option>
          }
        </mat-select>
        @let statusControl = form.get('status');
        @if (formsService.isFieldInvalid(statusControl)) {
          <mat-error>{{ formsService.getErrorMessage(statusControl) }}</mat-error>
        }
      </mat-form-field>
    </div>

  </div>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
