
<app-general-container-component>
  <div class="d-flex justify-content-between align-items-center">
    <h1>{{ i18nService.i18nPagesEnum.CREATE_ANIMAL_PROFILE_PAGE_TITLE | translate }}</h1>
  </div>
</app-general-container-component>

<mat-expansion-panel class="mb-4" expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>
        {{ i18nService.i18nComponentsEnum.ANIMAL_BASIC_INFO_FORM_TITLE | translate }}
      </h2>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <app-animal-basic-info-form
    [form]="formAnimalBasicInfo"
    [formsService]="formsService"
    [i18nService]="i18nService"
    [sexList]="sexHttpService.sexList()"
    [speciesList]="speciesHttpService.speciesList()"
    [raceListBySpecies]="raceHttpService.raceListBySpecies()"
    (speciesSelectionChange)="onSpeciesSelectionChange($event)"
  />
</mat-expansion-panel>

@if (formsService.isControlHasValue('species', formAnimalBasicInfo)) {
  <mat-expansion-panel class="mb-4" expanded="true" @fade>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>
          {{ i18nService.i18nComponentsEnum.ANIMAL_VACCINATION_FORM_TITLE | translate }}
        </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-animal-vaccination-form
      (syncVaccinesDatesChange)="onSyncVaccinesDatesChange($event)"
      [formsService]="formsService"
      [i18nService]="i18nService"
      [form]="formAnimalVaccination"
      [vaccineList]="vaccineHttpService.vaccineListBySpecies()"
    />
  </mat-expansion-panel>
}

<mat-expansion-panel class="mb-4" expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>
        {{ i18nService.i18nComponentsEnum.ANIMAL_DEWORMING_FORM_TITLE | translate }}
      </h2>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <app-animal-deworming-form
    [form]="formDeworming"
    [communityAnimalRegistrationFormService]="communityAnimalRegistrationFormService"
    [formsService]="formsService"
    [i18nService]="i18nService"
    [sanitaryControlResponseList]="sanitaryControlResponseHttpService.responseList()"/>
</mat-expansion-panel>

<mat-expansion-panel class="mb-4" expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>
        {{ i18nService.i18nComponentsEnum.ANIMAL_NEUTERING_FORM_TITLE | translate }}
      </h2>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <app-animal-neutering-form
    [form]="formNeutering"
    [communityAnimalRegistrationFormService]="communityAnimalRegistrationFormService"
    [formsService]="formsService"
    [i18nService]="i18nService"
    [sanitaryControlResponseList]="sanitaryControlResponseHttpService.responseList()"/>
</mat-expansion-panel>

<mat-expansion-panel class="mb-4" expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>
        {{ i18nService.i18nComponentsEnum.ANIMAL_FLEA_CONTROL_FORM_TITLE | translate }}
      </h2>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <app-animal-flea-control-form
    [form]="formFleaAndTickControl"
    [communityAnimalRegistrationFormService]="communityAnimalRegistrationFormService"
    [formsService]="formsService"
    [i18nService]="i18nService"
    [sanitaryControlResponseList]="sanitaryControlResponseHttpService.responseList()"/>
</mat-expansion-panel>

<div class="text-end mb-5" (click)="onSubmit()">
  <button matButton="tonal">Registrar animal</button>
</div>
