<form [formGroup]="form()">
  <h4>¿Se ha aplicado este control?</h4>
  <div class="mb-3">
    <mat-radio-group formControlName="sanitaryControlResponse" class="d-flex flex-column">
      @for (sanitaryControlResponse of sanitaryControlResponseList(); track sanitaryControlResponse.id) {
        <mat-radio-button class="mb-2" [value]="sanitaryControlResponse">
          {{ sanitaryControlResponse.name }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </div>

  @if (sanitaryControlResponseValueId === sanitaryControlResponseEnum.YES) {
    <div class="row">

      <div class="col-lg-4 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <!--{{ i18nService().i18nFormsEnum.IDENTIFICATION_CARD_LABEL | translate }}-->
          <mat-label>
            Nombre del producto
          </mat-label>
          <!--[placeholder]="i18nService().i18nFormsEnum.IDENTIFICATION_CARD_PLACEHOLDER | translate"-->
          <input
            type="text"
            matInput
            formControlName="productUsed"
            [errorStateMatcher]="formsService().matcher"
            />
          @let productUsedControl = form().get('productUsed');
          @if (formsService().isFieldInvalid(productUsedControl)) {
            <mat-error>{{ formsService().getErrorMessage(productUsedControl) }}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-lg-4 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Fecha de aplicación</mat-label>
          <input
            matInput
            [matDatepicker]="matDatepicker"
            formControlName="lastApplicationDate"
            [errorStateMatcher]="formsService().matcher"
            [max]="formsService().maxTodayDate"
          />
          <mat-datepicker-toggle matIconSuffix [for]="matDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #matDatepicker></mat-datepicker>
          @let lastApplicationDateControl = form().get('lastApplicationDate');
          @if (formsService().isFieldInvalid(lastApplicationDateControl)) {
            <mat-error>{{ formsService().getErrorMessage(lastApplicationDateControl) }}</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  }
</form>
