<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container">
    <div class="row justify-content-center rounded py-5 bg-primary-contrast">
      <div class="col-md-6 col-lg-5">
        <div class="text-center">
          <app-logo-bienestar-animal listCssClasses="max-width-500px" />
        </div>
      </div>

      <div class="col-md-6 col-lg-5">
        <h1>
          {{ i18nService.i18nPagesEnum.FORGOT_PASSWORD_PAGE_TITLE | translate}}
        </h1>
        <h2>
          {{ i18nService.i18nPagesEnum.FORGOT_PASSWORD_PAGE_SUBTITLE |
          translate}}
        </h2>

        <form
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="send()"
          autocomplete="off"
          class="forgot-password-form"
        >
          <mat-form-field appearance="outline" class="full-width">
            <mat-label
              >{{i18nService.i18nFormsEnum.EMAIL_LABEL | translate}}</mat-label
            >
            <input
              matInput
              formControlName="email"
              type="email"
              required
              autofocus
              [placeholder]="i18nService.i18nFormsEnum.EMAIL_PLACEHOLDER | translate"
            />
            <mat-error *ngIf="email.hasError('required')">
              {{i18nService.i18nFormsEnum.FORM_VALIDATION_REQUIRED | translate}}
            </mat-error>
            <mat-error *ngIf="email.hasError('email')">
              {{ i18nService.i18nFormsEnum.FORM_VALIDATION_EMAIL | translate }}
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loading() || email.invalid"
          >
            {{ i18nService.i18nButtonsEnum.BUTTON_SEND | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
