<h1>{{ 'FORGOT_PASSWORD_PAGE_TITLE' | translate }}</h1>

<form
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="send()"
  autocomplete="off"
  class="forgot-password-form"
>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'EMAIL' | translate }}</mat-label>
    <input matInput formControlName="email" type="email" required autofocus />
    <mat-error *ngIf="email.hasError('required')">
      {{ 'EMAIL_REQUIRED' | translate }}
    </mat-error>
    <mat-error *ngIf="email.hasError('email')">
      {{ 'INVALID_EMAIL' | translate }}
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="loading() || email.invalid"
  >
    {{ 'SEND' | translate }}
  </button>
</form>
