<app-general-container-component>
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1>{{ 'menu.createAnimalDiagnosis' | translate }}</h1>
    <button
      matButton="elevated"
      class="mb-3"
      routerLink="../animal-diagnosis-list"
    >
      <mat-icon>arrow_back</mat-icon>
      {{ 'menu.viewAnimalDiagnosis' | translate }}
    </button>
  </div>
</app-general-container-component>

<app-general-container-component>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'inputs.labels.animal' | translate }}</mat-label>
          <mat-select formControlName="animalId" required>
            <mat-option *ngFor="let animal of animals" [value]="animal.id">
              {{ animal.name }}
            </mat-option>
          </mat-select>
          @let animalIdControl = form.get('animalId'); @if
          (formsService.isFieldInvalid(animalIdControl)) {
          <mat-error
            >{{ formsService.getErrorMessage(animalIdControl) }}</mat-error
          >
          }
        </mat-form-field>
      </div>
      <div class="col-lg-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'inputs.labels.image' | translate }}</mat-label>
          <ngx-mat-file-input
            placeholder="Seleccione una fotografía"
            formControlName="image"
            [errorStateMatcher]="formsService.matcher"
            [accept]="formsService.imageFileAcceptTypes"
          ></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          @let imageControl = form.get('image'); @if
          (formsService.isFieldInvalid(imageControl)) {
          <mat-error
            >{{ formsService.getErrorMessage(imageControl) }}</mat-error
          >
          }
        </mat-form-field>
        <small class="text-muted mt-1"
          >Formatos permitidos: JPG, PNG, GIF.</small
        >
      </div>
      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'inputs.labels.description' | translate }}</mat-label>
          <textarea matInput rows="3" formControlName="description"></textarea>
          @let descControl = form.get('description'); @if (descControl?.invalid
          && (descControl?.touched || descControl?.dirty)) {
          <mat-error>{{ formsService.getErrorMessage(descControl) }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-12 text-end">
        <button matButton="tonal" type="submit" [disabled]="isSubmitting">
          {{ 'buttons.createAnimalDiagnosis' | translate }}
        </button>
      </div>
    </div>
  </form>
</app-general-container-component>

<div *ngIf="loading" class="my-4 text-center">
  <mat-spinner></mat-spinner>
  <div>{{ 'loadingMessages.loading' | translate }}</div>
</div>
<div *ngIf="error" class="alert alert-danger my-4">{{</div>
