<form [formGroup]="form()">
  <h4>{{ i18nService().i18nGeneralEnum.HAS_THIS_CONTROL_BEEN_APPLIED | translate }}</h4>
  <div class="mb-3">
    <mat-radio-group formControlName="sanitaryControlResponse" class="d-flex flex-column">
      @for (sanitaryControlResponse of sanitaryControlResponseList(); track sanitaryControlResponse.id) {
        <mat-radio-button class="mb-2" [value]="sanitaryControlResponse">
          {{ sanitaryControlResponse.name }}
        </mat-radio-button>
      }
      @let sanitaryControlResponseControl = form().get('sanitaryControlResponse');
      @if (formsService().isFieldInvalid(sanitaryControlResponseControl)) {
        <mat-error>
          {{ formsService().getErrorMessage(sanitaryControlResponseControl) }}
        </mat-error>
      }
    </mat-radio-group>
  </div>
</form>
