<form [formGroup]="form()">
  <h4>{{ i18nService().i18nGeneralEnum.HAS_THIS_CONTROL_BEEN_APPLIED | translate }}</h4>
  <mat-selection-list formControlName="selectedVaccines" multiple>
    @for (vac of vaccineList(); track vac.id) {
      <mat-list-option [value]="vac.id">{{ vac.name }}</mat-list-option>
    }
    @let selectedVaccinesControl = form().get('selectedVaccines');
    @if (formsService().isFieldInvalid(selectedVaccinesControl)) {
      <mat-error>
        {{ formsService().getErrorMessage(selectedVaccinesControl) }}
      </mat-error>
    }
  </mat-selection-list>

  @for (grp of vaccinesDatesGroups; track $index) {
    <div [formGroup]="grp" class="row align-items-center g-2">
      <div class="col-lg-2 fw-semibold">
        {{ getNameVaccine(grp.get('vaccineId')?.value) }}
      </div>
      <div class="col-lg-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>
            {{ i18nService().i18nFormsEnum.APPLICATION_DATE_LABEL | translate }}
          </mat-label>
          <input
            matInput
            formControlName="applicationDate"
            readonly
            [matDatepicker]="matDatepicker"
            [errorStateMatcher]="formsService().matcher"
            [max]="formsService().maxTodayDate"
            [placeholder]="i18nService().i18nFormsEnum.APPLICATION_DATE_PLACEHOLDER | translate"
          />
          <mat-datepicker-toggle matIconSuffix [for]="matDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #matDatepicker></mat-datepicker>
          @let applicationDate = grp.get('applicationDate');
          @if (formsService().isFieldInvalid(applicationDate)) {
            <mat-error>{{ formsService().getErrorMessage(applicationDate) }}</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  }
</form>
