<app-general-container-component>
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      Gestionar anuncios
    </h1>
    <button matButton="elevated">
      <mat-icon>add</mat-icon>
      Crear anuncio
    </button>
  </div>
</app-general-container-component>

<app-general-container-component>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Nombre del anuncio</mat-label>
        <input
          matInput
          placeholder="Ingrese el nombre del anuncio"
        />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Estado del anuncio</mat-label>
        <mat-select placeholder="Seleccione un estado">
          @for (
            announcementState of announcementStateHttpService.announcementStatesList(); track announcementState.id) {
            <mat-option [value]="announcementState">{{ announcementState.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="text-end">
    <button matButton="text">
      <mat-icon>
        delete
      </mat-icon>
      Limpiar
    </button>
    <button class="ms-3" matButton="tonal">
      <mat-icon>
        filter_list
      </mat-icon>
      Filtrar
    </button>
  </div>
</app-general-container-component>
