@use 'sass:map';
@use '../../../../theme/theme-colors' as theme;
@use '../../../../theme/mixins' as mixins;

@media (prefers-color-scheme: light) {
  $paw: map.get(theme.$primary-palette, 60);
  $wellbeing: map.get(theme.$primary-palette, 0);
  $animal: map.get(theme.$primary-palette, 60);
  $community: map.get(theme.$primary-palette, 0);

  @include mixins.apply-logo-colors($paw, $wellbeing, $animal, $community);
}

@media (prefers-color-scheme: dark) {
  $paw: map.get(theme.$primary-palette, 60);
  $wellbeing: map.get(theme.$primary-palette, 60);
  $animal: map.get(theme.$primary-palette, 100);
  $community: map.get(theme.$primary-palette, 60);

  @include mixins.apply-logo-colors($paw, $wellbeing, $animal, $community);
}
