<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="matSidenav()?.toggle()">
      <mat-icon class="icon-color-scheme">menu</mat-icon>
    </button>
    <img class="ms-2 logo" src="logo.png" alt="Logo de la aplicacion"/>
    <div class="d-flex flex-grow-1 justify-content-end">
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon class="icon-color-scheme">{{ i18n.currentLanguage()?.icon }}</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon class="icon-color-scheme">{{ theme.selectedTheme()?.icon }}</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-menu #themeMenu>
    @for (themeItem of theme.getThemes(); track themeItem.name) {
      <button
        [class.selected-theme]="theme.selectedTheme()?.name === themeItem.name"
        mat-menu-item
        (click)="theme.setTheme(themeItem.name)"
      >
        <mat-icon>{{ themeItem.icon }}</mat-icon>
        <span>{{ themeItem.label | translate }}</span>
      </button>
    }
  </mat-menu>
  <mat-menu #languageMenu>
    @for (languageItem of i18n.supportedLanguages(); track languageItem.label) {
      <button
        [class.selected-language]="i18n.currentLanguage()?.label === languageItem.label"
        mat-menu-item
        (click)="i18n.setPreferenceLanguage(languageItem)"
      >
        <mat-icon>{{ languageItem.icon }}</mat-icon>
        <span>{{ languageItem.label | translate }}</span>
      </button>
    }
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [opened]="!isScreenSmall()" [mode]="sideNavMode()" [style.width]="'260px'" class="px-1">
    <mat-nav-list class="mx-1 ms-lg-1 me-lg-0">
      <mat-accordion>
        @for (item of menuItemsSorted(); track item) {
          @if (item?.children?.length) {
            <mat-expansion-panel class="mb-2" [disabled]="item?.isDisabled">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>
                  <mat-icon>{{ item?.icon }}</mat-icon>
                  <span class="ms-2">{{ item?.label! | translate }}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-list>
                @for (child of item?.children; track child) {
                  <mat-list-item
                    class="mb-2"
                    [disabled]="child.isDisabled"
                    [routerLink]="child.isDisabled? null : child.route"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [tabindex]="child.isDisabled? -1 : 0"
                    (click)="child?.click()"
                    routerLinkActive="mdc-list-item--activated"
                  >
                    <span>{{ child.label! | translate }}</span>
                  </mat-list-item>
                }
              </mat-action-list>
            </mat-expansion-panel>
          } @else {
            <mat-list-item
              class="mb-2"
              [disabled]="item?.isDisabled"
              [routerLink]="item?.isDisabled? null : item?.route" [tabindex]="item?.isDisabled? -1 : 0"
              (click)="item?.click()"
              routerLinkActive="mdc-list-item--activated pointer"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-icon matListItemIcon>{{ item?.icon }}</mat-icon>
              <span>{{ item?.label! | translate }}</span>
            </mat-list-item>
          }
        }
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
