<form [formGroup]="form()">
  <app-general-container-component>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Estado del anuncio</mat-label>
          <mat-select
            formControlName="complaintTypeId"
            [errorStateMatcher]="formsService().matcher"
            placeholder="Seleccione un estado"
          >
            <mat-option [value]="formsService().filterOptionEnum.SELECT_OPTION">
              Seleccione un estado
            </mat-option>
            @for (complaintType of complaintTypesList(); track complaintType.id) {
              <mat-option [value]="complaintType.id">{{ complaintType.name }}</mat-option>
            }
          </mat-select>
          @let complaintTypeIdControl = form().get('complaintTypeId');
          @if (formsService().isFieldInvalid(complaintTypeIdControl)) {
            <mat-error>{{ formsService().getErrorMessage(complaintTypeIdControl) }}</mat-error>
          }
        </mat-form-field>
        <!--show the description of the selection with a mat icon with a tooltiip-->
        <pre><code>{{ complaintTypeIdControl?.value | json }}</code></pre>
        @if (complaintTypeIdControl?.value) {
          <mat-icon
            [matTooltip]="complaintTypeIdControl?.value.description"
            class="ms-2"
          >
            info
          </mat-icon>
        }
      </div>
    </div>
  </app-general-container-component>

  <app-general-container-component>
   <!--show the description of the selection with a icon-->

  </app-general-container-component>

</form>
