<!--@author gjimenez-->
<!--@modifiedBy dgutierrez 10/7/2025 change the appearance of the mat form fields for the standard and add the correct implementation for the show erros-->
<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>
      {{ i18nService.i18nFormsEnum.NAME_LABEL | translate }}
    </mat-label>
    <input
      matInput
      formControlName="name"
      [placeholder]="i18nService.i18nFormsEnum.NAME_PLACEHOLDER | translate"/>
    @let idControl = form.get('name');
    @if (formsService.isFieldInvalid(idControl)) {
      <mat-error>{{ formsService.getErrorMessage(idControl) }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>
      {{ i18nService.i18nFormsEnum.ADDRESS_LABEL | translate }}
    </mat-label>
    <input
      matInput
      formControlName="address"
      type="text"
      [placeholder]="i18nService.i18nFormsEnum.ADDRESS_PLACEHOLDER | translate"/>
    @let addressControl = form.get('address');
    @if (formsService.isFieldInvalid(addressControl)) {
      <mat-error>{{ formsService.getErrorMessage(addressControl) }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>
      {{ i18nService.i18nFormsEnum.PHONE_LABEL | translate }}
    </mat-label>
    <input
      matInput
      formControlName="phone"
      type="tel"
      [placeholder]="i18nService.i18nFormsEnum.PHONE_NUMBER_PLACEHOLDER | translate"/>
    @let phoneControl = form.get('phone');
    @if (formsService.isFieldInvalid(phoneControl)) {
      <mat-error>{{ formsService.getErrorMessage(phoneControl) }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>
      {{ i18nService.i18nFormsEnum.EMAIL_LABEL | translate }}
    </mat-label>
    <input
      matInput
      formControlName="email"
      [placeholder]="i18nService.i18nFormsEnum.EMAIL_PLACEHOLDER | translate"
      type="email"
    />
    @let emailControl = form.get('email');
    @if (formsService.isFieldInvalid(emailControl)) {
      <mat-error>{{ formsService.getErrorMessage(emailControl) }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>
      {{ i18nService.i18nFormsEnum.CANTON_LABEL | translate }}
    </mat-label>
    <mat-select formControlName="cantonId">
      @for ( canton of cantonHttpService.cantonList(); track canton.id) {
        <mat-option [value]="canton.id">{{ canton.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>
      {{ i18nService.i18nFormsEnum.RESPONSIBLE_NAME_LABEL | translate }}
    </mat-label>
    <input
      matInput
      formControlName="responsibleName"
      [placeholder]="i18nService.i18nFormsEnum.RESPONSIBLE_NAME_PLACEHOLDER | translate"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>
      {{ i18nService.i18nFormsEnum.RESPONSIBLE_POSITION_LABEL | translate }}
    </mat-label>
    <input
      matInput
      formControlName="responsiblePosition"
      [placeholder]="i18nService.i18nFormsEnum.RESPONSIBLE_POSITION_PLACEHOLDER | translate"
    />
  </mat-form-field>

  <div class="text-end">
    <button matButton="tonal" type="submit">
      {{ i18nService.i18nButtonsEnum.BUTTON_CREATE_MUNICIPALITY | translate }}
    </button>
  </div>
</form>
