<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Email -->
  <div class="mb-3">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="forms.matcher"
        [placeholder]="i18n.i18nFormsEnum.EMAIL_PLACEHOLDER | translate" />
      @let emailControl = form.get('email');
      @if (forms.isFieldInvalid(emailControl)) {
        <mat-error>{{ forms.getErrorMessage(emailControl) }}</mat-error>
      }
    </mat-form-field>
  </div>

  <!-- Password -->
  <div class="mb-3">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>{{ i18n.i18nFormsEnum.PASSWORD_LABEL | translate }}</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        [errorStateMatcher]="forms.matcher"
        [placeholder]="i18n.i18nFormsEnum.PASSWORD_PLACEHOLDER | translate" />
      @let passwordControl = form.get('password');
      @if (forms.isFieldInvalid(passwordControl)) {
        <mat-error>{{ forms.getErrorMessage(passwordControl) }}</mat-error>
      }
    </mat-form-field>
  </div>

  <!-- Terms -->
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" id="termsCheck" required />
    <label class="form-check-label" for="termsCheck">
      I agree to the <a href="#" class="text-info">Terms & Conditions</a>
    </label>
  </div>

  <!-- Submit -->
  <button type="submit" class="btn btn-primary w-100 mb-3">
    Create account
  </button>

  <div class="text-center text-secondary mb-2">or register with</div>

  <!-- Social Buttons -->
  <div>
    <button matIconButton>
      <mat-icon>google</mat-icon>
    </button>
  </div>
</form>
