@use 'sass:map';
@use '@angular/material' as material;
@use "theme/theme-colors" as theme;
@use "theme/index" as custom-rules;

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$bienestar-animal-light-theme: material.define-theme((
  color: (
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
    theme-type: light
  ),
  typography: (
    brand-family: 'Roboto',
  ),
  density: (
    scale: 0
  ),
));

$bienestar-animal-dark-theme: material.define-theme((
  color: (
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
    theme-type: dark
  ),
  typography: (
    brand-family: 'Roboto',
  ),
  density: (
    scale: 0
  ),
));

html {
  color-scheme: light;
  @include material.all-component-themes($bienestar-animal-light-theme);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    @include material.all-component-colors($bienestar-animal-dark-theme);
  }
}
