@use '@angular/material' as material;
@use "theme/theme-colors" as theme;
@use 'sass:map';

@include material.core();

$custom-theme: material.define-theme((
  color: (
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
    theme-type: dark,
  ),
  typography: (
    brand-family: 'Roboto',
  ),
  density: (
    scale: 0
  ),
));

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  @include material.all-component-themes($custom-theme);
}
