<app-navbar [showMenuToggle]="false" />

<div class="container my-5 pb-5">

  <section class="row justify-content-center rounded bg-primary-contrast p-4 mb-4">
    <div class="col-12 text-center">
      <h1>{{ i18nService.i18nPagesEnum.COMPLETE_PROFILE_PAGE_TITLE | translate }}</h1>
      <p>{{ i18nService.i18nPagesEnum.COMPLETE_PROFILE_PAGE_SUBTITLE | translate }}</p>
    </div>
  </section>

  <section class="row justify-content-center rounded bg-primary-contrast p-4 mb-4">
    <div class="col-12">
      <h2>{{ i18nService.i18nGeneralEnum.PERSONAL_INFORMATION | translate }}</h2>
      <app-personal-data-user-registration-form
        [form]="userRegistrationFormService.formUserRegistration"
        [i18nService]="i18nService"
        [formsService]="formsService"
      />
    </div>
  </section>

  <section class="row justify-content-center rounded bg-primary-contrast p-4 mb-4">
    <div class="col-12">
      <h2>{{ i18nService.i18nGeneralEnum.LOCATION | translate }}</h2>
      <app-location-form
        [cantonsList]="cantonHttpService.cantonList()"
        [districtsList]="cantonHttpService.districtsByCanton()"
        [neighbourhoodsList]="districtHttpService.neighborhoodsByDistrict()"
        (selectedCanton)="cantonHttpService.getDistrictsByCantonId($event.id!)"
        (selectedDistrict)="districtHttpService.getNeighborhoodsByDistrictId($event.id!)"
        [form]="userRegistrationFormService.formUserRegistration"
        [i18nService]="i18nService"
        [formsService]="formsService"
      />
    </div>
  </section>

  <section class="row justify-content-center rounded bg-primary-contrast p-4 mb-4">
    <div class="col-12">
      <h2>{{ i18nService.i18nGeneralEnum.PROVIDE_TEMPORARY_SHELTER | translate }}</h2>
      <app-it-worked-as-nursery-home-form
        [checked]="userRegistrationFormService.isNurseryHome()!"
        (checkedChange)="userRegistrationFormService.setNurseryHomeValue(userRegistrationFormService.formUserRegistration, $event)"
        [i18nService]="i18nService"
        [formsService]="formsService"
      />
    </div>
  </section>

  <section class="row justify-content-center rounded bg-primary-contrast p-4 mb-4">
    <div class="col-12">
      <h2>{{ i18nService.i18nComponentsEnum.INTERESTS_TITLE | translate }}</h2>
      <p>{{ i18nService.i18nComponentsEnum.INTERESTS_DESCRIPTION | translate }}</p>
      <app-interests-form
        [listInterests]="interestHttpService.interestList()"
        (selectedInterestsChange)="userRegistrationFormService.setInterests(userRegistrationFormService.formUserRegistration, $event)"/>
    </div>
  </section>

  <section class="row justify-content-center rounded bg-primary-contrast p-4 mb-4">
    <div class="col-12">
      <h2>{{ i18nService.i18nComponentsEnum.VOLUNTEER_OPTION_FORM_TITLE | translate }}</h2>
      <p>{{ i18nService.i18nComponentsEnum.VOLUNTEER_OPTION_FORM_DESCRIPTION | translate }}</p>
      <app-volunteer-option-form
        [(checked)]="userRegistrationFormService.volunteerIntent"
        [i18nService]="i18nService"
        [form]="userRegistrationFormService.formUserRegistration"
        [formsService]="formsService"
        [municipalitiesList]="municipalityHttpService.municipalityList()"
      />
    </div>
  </section>

  <div class="row">
    <div class="col-md-6 mb-3 mb-md-0">
      <button
        type="submit"
        matButton="filled"
        class="w-100"
        (click)="logout()"
      >
        {{ i18nService.i18nButtonsEnum.BUTTON_CLOSE_SESSION | translate }}
      </button>
    </div>

    <div class="col-md-6">
      <button
        type="submit"
        matButton="filled"
        class="w-100 btn-contrast"
        (click)="onSubmit()"
      >
        {{ i18nService.i18nButtonsEnum.BUTTON_COMPLETE_PROFILE | translate }}
      </button>
    </div>
  </div>
</div>
