<app-navbar [showMenuToggle]="false" />

<div class="container my-5">
  <div class="row justify-content-center rounded bg-primary-contrast mb-3">
    <div class="col-12">
      <h1 class="text-center">Complete por favor el registro</h1>
    </div>

    <h2>{{ i18nService.i18nGeneralEnum.PERSONAL_INFORMATION | translate }}</h2>
    <div class="col-12">
      <app-personal-data-user-registration-form
        [form]="formPersonalDataUser"
        [i18nService]="i18nService"
        [formsService]="formsService"
      />
    </div>
  </div>

  <div class="row justify-content-center rounded bg-primary-contrast mb-3">
    <div class="col-12">
      <h2>{{ i18nService.i18nGeneralEnum.LOCATION | translate }}</h2>
    </div>

    <div class="col-12">
      <app-location-form
        [cantonsList]="cantonHttpService.cantonList()"
        [districtsList]="cantonHttpService.districtsByCanton()"
        [neighbourhoodsList]="districtHttpService.neighborhoodsByDistrict()"
        (selectedCanton)="cantonHttpService.getDistrictsByCantonId($event.id!)"
        (selectedDistrict)="districtHttpService.getNeighborhoodsByDistrictId($event.id!)"
        [form]="formPersonalDataUser"
        [i18nService]="i18nService"
        [formsService]="formsService"
      />
    </div>
  </div>

  <div class="row justify-content-center rounded bg-primary-contrast mb-3">

    <div class="col-12">
      <h2>{{ i18nService.i18nGeneralEnum.PROVIDE_TEMPORARY_SHELTER | translate }}</h2>
      <app-it-worked-as-nursery-home
        [checked]="isNurseryHome()!"
        (checkedChange)="checkedChangeIsNurseryHome($event)"
        [i18nService]="i18nService"
        [formsService]="formsService"
      />
    </div>
  </div>

  <div class="row justify-content-center rounded bg-primary-contrast mb-3">
    <div class="col-12">
      <h2>{{ i18nService.i18nComponentsEnum.INTERESTS_TITLE | translate }}</h2>
      <p>{{ i18nService.i18nComponentsEnum.INTERESTS_DESCRIPTION | translate }}</p>
      <app-interests
        [listInterests]="interestHttpService.interestList()"
        (selectedInterestsChange)="interestsChange($event)"/>
    </div>
  </div>

  <div class="row justify-content-center rounded bg-primary-contrast mb-3">
    <div class="col-12">
      <h2>{{ i18nService.i18nComponentsEnum.VOLUNTEER_OPTION_FORM_TITLE | translate }}</h2>
      <p>{{ i18nService.i18nComponentsEnum.VOLUNTEER_OPTION_FORM_DESCRIPTION | translate }}</p>
      <app-volunteer-option-form
        [(checked)]="volunteerIntent"
        [i18nService]="i18nService"
        [form]="formPersonalDataUser"
        [formsService]="formsService"
        [municipalitiesList]="municipalityHttpService.municipalityList()"/>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" matButton="filled" class="w-100" (click)="onSubmit()">
      {{ i18nService.i18nButtonsEnum.BUTTON_REGISTER_NOW | translate }}
    </button>
  </div>
</div>
