<form [formGroup]="form()">
 <div class="row">
   <div class="col-lg-6 mb-3">
     <mat-form-field appearance="outline" class="w-100">
       <mat-label>{{ i18nService().i18nFormsEnum.PASSWORD_LABEL | translate }}</mat-label>
       <input
         type="password"
         matInput
         formControlName="password"
         [errorStateMatcher]="formsService().matcher"
         [placeholder]="i18nService().i18nFormsEnum.PASSWORD_PLACEHOLDER | translate"/>
       @let passwordControl = form().get('password');
       @if (formsService().isFieldInvalid(passwordControl)) {
         <mat-error>{{ formsService().getErrorMessage(passwordControl) }}</mat-error>
       }
     </mat-form-field>
   </div>

   <div class="col-lg-6 mb-3">
     <mat-form-field appearance="outline" class="w-100">
       <mat-label>{{ i18nService().i18nFormsEnum.CONFIRM_PASSWORD_LABEL | translate }}</mat-label>
       <input
         type="text"
         matInput
         formControlName="confirmPassword"
         [errorStateMatcher]="formsService().matcher"
         [placeholder]="i18nService().i18nFormsEnum.CONFIRM_PASSWORD_PLACEHOLDER | translate"/>
       @let confirmPasswordControl = form().get('confirmPassword');
       @if (formsService().isFieldInvalid(confirmPasswordControl)) {
         <mat-error>{{ formsService().getErrorMessage(confirmPasswordControl) }}</mat-error>
       }
     </mat-form-field>
   </div>
 </div>
</form>
